<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sb7</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" type = "text/css" href="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@100&family=Rowdies:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JS INCLUDED -->
    <script src="js/script.js"></script>
</head>


<body>
    <!-- attaching bootstrap CDN to use container to make website responsive -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    
    
    
    
    
    
    
    
    <!-- declaring division as container -->
    
    <div id="grid-container" class="container-fluid ">
        
        <div id="child1" class='container anim color-wheat'>

            

            <div id="child1-1" class="row">

                <!-- container having 2 equaly devided column -->
                <div id="child1-1a" class="col  ">

                    <a href="https://www.linkedin.com/in/sbrajendra/"><img class ="social-site icon" src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/link.png" alt="linkedin"></a></div>

                <div id="child1-1b" class="col ">

                    <a href="https://www.instagram.com/sbrajend_7"><img class ="social-site icon" src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/inst.png" alt="inst"></a>
                
                </div>

                <div id="child1-2" class="col-12"><hr> <br> <h1 style="font-family: 'Quintessential'; text-align: center;", cursive;>Brajendra Suman</h1> <br> <hr>  </div>

            </div>


            
        </div>






         <!-- declaring division as container -->

        <div class='anim container color2'>

            <div  id="child2" class="row" style="padding: 20px 0px;">  
                 <!-- container having 2 equaly devided column -->
                
                    <div id="child2-1"  class="col-xxl-4 col-lg-5 centralise" > 
                        <img id="prof"src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/profile.jpg" alt="profile pic">
                    </div>


                    <div id="child2-2" class="col-xxl-6 col-lg-5 centralise "> 
                        <h2 style="text-align: center; font-family: 'Quintessential', cursive;">Hi, i'm Brajendra Suman</h2>
                    <p style="font-family: 'Zen Kurenaido', sans-serif;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error temporibus aliquid, reiciendis iusto accusamus labore eligendi quasi, dignissimos harum, laborum amet facere dolorum molestias eius! Provident cumque, vel qui dolores quam dicta adipisci assumenda. Iusto aut architecto laboriosam esse nostrum. Voluptatibus, magnam veritatis blanditiis ea, sequi impedit fugit alias laboriosam optio, possimus ut voluptatum nemo eum minus rerum quo perspiciatis quam eveniet officia animi neque. Aliquam quas cum voluptatum facilis consequatur quasi, harum mollitia a expedita asperiores ut, minus reprehenderit, impedit obcaecati laboriosam delectus at ad sit maxime? Odit commodi minima mollitia accusantium sint facere incidunt nam, laborum necessitatibus eum!</p>
                    <a id="hire-me-button" href="-------------" class=>  <h4 style="padding: 10px;"> Hire Me </h4> </a>

                    </div>
                

            </div>

           
           
        </div>



                <!-- normal division with some text  -->

        <div id="child3"class='anim container centralise color2'>

            <h2>SKILLS</h2>
            <h3>Machine Learning</h3>

            <h5>Neural Network | Tensorflow | pandas | OpenCv | Matplotlib | Python | MAtlab </h5>

            <p style="text-align: center;font-family: 'Zen Kurenaido', 'sans-serif';padding: 10px;;">Studied and implemented Supervised learning model like Linear Regression, Logistic Regression from scratch,
                <br>designing a Generalize linear model for different exponential family distributions<br>Studied GDA Bernoli/Multinomial event model<br> Studied neural Network and techniques for minimizing weight and bias(Back Propagation)   </p>

            <h3>Data Visualization</h3>
            <h5>Python | Pandas | Matplotlib </h5>
            <p >Good Hands on Experince in Data Visualization</p>

            <h3>Web Development</h3>
            <h5>HTML5 | CSS3 | JavaScript | Django </h5>

            <h3>Other Top Skills</h3>
            <h5>C++/C </h5>




        </div>
            <!-- process repeated -->
        <div id="child4" class="anim color-wheat container">
            <div id="child4a"class='anim container centralise' style="height: 200px;">

                <div class="row">  
                    <div class="col-12 color-wheat"> 
                        <h2 class="centralise ">My Working Process</h2>
                    </div>

                    <div class="col-12"> 
            
                        <p class="centralise">
                            Hi,here are some of my Projects
                        </p>
                        
                    </div>

                </div>
            </div>


            <!-- process repeated -->
            <div  class="container ">

                <div id="child4b" class="row " >

                    <div id="child4-1" class="col-xl-3 centralise padding-top-bottom">

                        <a id = "41-1" class = "proj" href="----"><img src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/41.png" alt=""></a>
                    </div>

                    <div id="child4-2" class="col-xl-3 centralise padding-top-bottom"> 
                        <a id = "41-2" class = "proj" href="----"><img src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/42.png" alt=""></a>
                    </div>

                    <div id="child4-3" class="col-xl-3 centralise padding-top-bottom"> 
                        <a id = "41-3" class = "proj" href="----"><img src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/43.png" alt=""></a>
                    </div>

                    <div id="child4-4" class="col-xl-3 centralise padding-top-bottom"> 
                        <a id = "41-4" class = "proj" href="----"><img src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/44.png" alt=""></a>
                    </div>
                </div>
            
            </div>


        </div>

        
            <!-- process repeated -->

        <div class='container color-wheat'>

            <div id="child5" class=" anim row">

                <div class="col-md-6" id="child5-1">
                    <h3 style="margin-left:10px;">WORK Experince</h3>
                    <p style="padding-left: 10px;">Shivpuri, Madhya Pradesh</p>
                </div>
                <div id="child5-2" class="col-md-6" >
                    <h3 style="margin-left:10px;">EDUCATION</h3>
                    <h4 style="margin-left:10px;">JAWAHAR NAVODAYA VIDHYALAYA SHIVPURI (M.P)</h4>
                    <h5 style="padding: 10px;" >July 2013 - April 2018</h5>
                    <p style="font-family: 'Zen Kurenaido', 'sans-serif';padding: 10px;">Jawahar Navodaya Vidyalayas are a system of central schools for talented students predominantly. They are run by Navodaya Vidyalaya Samiti, New Delhi, an autonomous organization under the Department of School Education and Literacy, Ministry of Education, Government of India.</p>
                    <hr style="border: 0.5px solid rgb(136, 128, 128);">

                
                    <h4 style="margin-left:10px; padding: 5px;">Indian Institutes of Technology Guwahati</h4>
                    <h5 style="padding: 10px;">Nov 2020 - Present</h5>
                    <p style="font-family: 'Zen Kurenaido', 'sans-serif';padding: 10px;">The Indian Institutes of Technology are autonomous public technical and research institutes located across India. It is under the jurisdiction of Ministry of Education, Government of India.</p>
                    
                </div>
            </div>

        </div>
        <!-- EMPTY DIVISION FOR LATER ADDITION OF BLOCK -->

    <div id="child6"class='anim'></div>
<!-- process repeated -->
    <div class="container color-wheat"> 

       
        <div id="child7"class='anim row'>
            <div id="child7-1" class="col-md-6">
                <div class="col">
                    <div class="row">
                        <h3 style="margin-left:10px;">LEAVE A MESSAGE</h3>
                        
                        <input placeholder="Name" type="text" maxlength="20" name = "name" id = "inp-name" class = "inp-box">
                        <input placeholder="Email" type="text" maxlength="20" name = "email" id = "email" class = "inp-box">
                        <input placeholder="Subject" type="text" maxlength="20" name = "subject" id = "subject" class = "inp-box">

                        
                        <textarea name="message" placeholder="bType message here" id="message" class="inp-box" cols="40" rows="10"></textarea>
                        <!-- <div class="form-floating">
                            <textarea class="form-control inp-box" placeholder="Leave a comment here" id="floatingTextarea2" cols="40" rows="10" ></textarea>
                            <label for="floatingTextarea2">Comments</label>
                          </div> -->
                        <input type="submit" name="submit" id="submit" class="btn-secondary inp-box color-wheat" style="width: 100px; border-radius: 8px;">
                    
                    
                    </div>
                </div>
            </div>

            <div id="child7-2" class="col-md-6" style="padding-top: 10px;">
                <div id="child7-2">
                    <h3 style="margin-left:10px;">ADDRESS</h3>
                    <p style="font-family: 'Zen Kurenaido', 'sans-serif';padding: 10px;" >Shivpuri, Madhya Pradesh</p>
                </div>
                <div id="child7-3">
                    <h3 style="margin-left:10px;">Phone</h3>
                    <p style="padding: 10px;font-family: 'Zen Kurenaido', 'sans-serif';">+91 9887275243<br>+91 9893998424</p>
                </div>

                <div id="child7-4">
                    <h3 style="margin-left:10px;">WEB</h3>
                    <p style="padding: 10px;font-family: 'Zen Kurenaido', 'sans-serif';">s.brajendra@iitg.ac.in <br> brajendrasuman13415@gmail.com  <br> s.brajendra13415@gmail.com </p>
                </div>
            </div>

        </div>

    
    </div>
<!-- process repeated -->
                        
        <div id="child8"class='anim container color-wheat'>
            <div class="row">
                <div class="col-12 foot1">
                    <a href="https://twitter.com/" style="border-left: 1px solid black;justify-content: center ;"> <img src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/twit.png" alt="twitter"> </a>
                    <a href="https://twitter.com/" style="border-left: 1px solid black;justify-content: center ;"> <img src="https://rawcdn.githack.com/s-brajendra/RESUME/2468b67327236b17420f5f98eed323eecaf2a965/main/images/link1.png" alt="twitter"></a>
                    <br>
                </div>

                <div class="col-12 foot2 font-zen">
                    <p style="font-family: 'Zen Kurenaido', 'sans-serif';"> No copyright rights issues</p>
                </div>
             </div>
        </div>
  
    </div>
</body>
</html>



